.app {
  text-align: center;
  background-color: #EAEAEA;
  padding: 20px;
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1024px;
  text-align: left;
  background: #FFF;
  padding: 20px;
}